.app {
  background-color: #222326;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.signInDiv {
  position: absolute;
  left: 0;
  top: 0;
  margin: 40px;
}

.large-title {
  color: white;
  margin-bottom: 80px;
  font-size: 80px;
}


.signOutButton {
  position: absolute;
  top: 0;
  left: 0;
}

.favicon {
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: 40px;
}


.user-picture {
  border-radius: 50%;
}

.user-name {
  color: black;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}